    /* Color palette */
:root {
    --one: hsl(0, 0%, 6%);
    --two: hsl(0, 0%, 12%);
    --three: hsl(0, 0%, 18%);
    --four: hsl(0, 0%, 24%);
    --five: hsl(0, 0%, 30%);
    --six: hsl(0, 0%, 36%);
    --white-emphasis: hsla(0, 0%, 100%, 0.7);
    --high-emphasis: hsla(0, 0%, 100%, 0.502);
    --medium-emphasis: hsla(0, 0%, 100%, 0.376);
    --disabled: #FFFFFF38;
    --red: #E73943;
    --orange: #FF9F2E;
    --gold: #FF9F2E;
    --yellow: #FFE95A;
    --lime: #7ABE65;
    --green: #46A45F;
    --light-blue: #599BD9;
    --blue: #204F83;
    --light-purple: #6C2B68;
    --purple: #6C2B68;

}


    /* Elements */
body {
    background-color: var(--four);
    color: var(--high-emphasis);
}
img { image-rendering: pixelated; image-rendering: -moz-crisp-edges; }
a { color: var(--high-emphasis); text-decoration: none;}
a:hover { color: var(--medium-emphasis); }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--three); }
::-webkit-scrollbar-thumb { background: var(--four); }
::-webkit-scrollbar-thumb:hover { background: var(--five);  }
.badge { background-color: var(--blue); color: var(--white-emphasis)}
.btn {color: var(--white-emphasis); background-color: var(--light-blue); border-color: var(--light-blue)}
.btn.btn-validate {background-color: var(--green); border-color: var(--green);}
.btn:hover { color: var(--medium-emphasis); }
.input-group-text, .form-select.form-control { background-color: var(--three); border: 1px solid var(--three); color: var(--high-emphasis) }
.form-control, .form-select { background-color: var(--five); border: 1px solid var(--four); color: var(--white-emphasis)}
.form-control:focus { background-color: var(--five); border: 1px solid var(--four); color: var(--white-emphasis)}

    /* Navbar */
nav { background-color: var(--two); color: var(--high-emphasis); }

    /* Pagination */
.page-item a { background-color: var(--three); border: 1px solid var(--four); color: var(--high-emphasis); }
.page-item a:hover { background-color: var(--five); border: 1px solid var(--four); color: var(--one); }
.page-item a:active { background-color: var(--five); border: 1px solid var(--four); color: var(--one); }
.page-item a:focus { background-color: var(--five); border: 1px solid var(--four); color: var(--one); }

    /* Minecraft styled inventory grid */
.inventory { display: block; }
.grid { width: 36px; height: 36px; position: relative; text-align: center!important; background-color: #8b8b8b; border-color: #373737 #fff #fff #373737; border-style: solid; border-width: 2px; vertical-align: middle; cursor: pointer; }
.grid.active { background-color: rgb(218, 218, 218); }
.grid > img { width: 32px; height: 32px; image-rendering: pixelated; }


    /* Components */
        /* Upper */
#upper { min-height: 50vh; }
            /* Inventory */
#inventory {padding: 20px 0px 20px 0px; background-color: var(--one);}
            /* Menu selector */
#page-selector { background-color: var(--three); color: var(--high-emphasis); padding: 10px 20px;}
#page-selector ul {max-height: 50vh; overflow-y:scroll;}
#page-selector ul li a { text-decoration: none;}
#page-selector .list-group-item { background-color: var(--four); color: var(--medium-emphasis)}
#page-selector .list-group-item:hover { cursor: pointer;}
#page-selector .list-group-item.active { background-color: var(--five); color: var(--high-emphasis); border: 1px solid var(--six)}


    /* Animations */