@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --one: #1D1D2E;
    --two: #39394B;
    --three: #535A63;
    --four: #8F9093;
    --five: #ADABAB;
    --six: #cac6c2;
}

body {
    background-color: var(--one);
    color: var(--four);
    padding: 20px 0px 20px 0px;
    font-family: 'Montserrat', sans-serif;
}