@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --one: #1D1D2E;
    --two: #39394B;
    --three: #535A63;
    --four: #8F9093;
    --five: #ADABAB;
    --six: #cac6c2;
}

body {
    background-color: var(--one);
    color: var(--four);
    font-family: 'Montserrat', sans-serif;
}

img { image-rendering: pixelated; image-rendering: -moz-crisp-edges; }
nav { background-color: var(--two); color: var(--six); }
nav a { color: var(--six); }
nav a:hover { color: var(--five); }